
<section class="modal-container">

    <section class="content-container">

        <section class="text-container">
            <h2>¿Desea borrar a {{heroDelete.name}}?</h2>
        </section>
    
        <section class="buttons-container">
            <button class="add-button ok" routerLink="/newHero" (click)="clickModal(true)">Borrar</button>
            <button class="add-button cancel" routerLink="/newHero" (click)="clickModal(false)">Cancelar</button>
    
        </section>
    </section>


</section>